# ---Python Bytecode ---
__pycache__/
*.pyc

# --- Testing ---
.pytest_cache/

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Environments & Config ---
.env

# --- IDE Settings ---
.vscode/

# --- Micromamba ---
.micromamba/

*.txt
PKG-INFO